<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Site Logo</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${fileUploadForm}" method="POST" enctype="multipart/form-data">
				
					<div class="row g-3">
						<div class="col-md-12">
							<img th:src="@{/siteLogo}" alt="Site logo" class="border rounded rounded-3"/>
						</div>
						<div class="col-md-6">
				    		<label class="form-label text-primary" th:text="'Select ' + #{fileUploadForm.file} + ' to change logo.'"></label>
				    		<input type="file" class="form-control" th:field="*{file}" th:placeholder="#{fileUploadForm.file}" autofocus >
				      		<ul><li class="cooperror" th:errors="*{file}" /></ul>
				    	</div>
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary">Submit</button>
				    	</div>
				  	</div>
				  	
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>