<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: html_head}"></head>

<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>

	<div class="container-fluid">

		<h4 class="h4 p-2">Event</h4>

		<div class="alert alert-warning p-2" role="alert" th:text="${message}"
			th:if="${message != null }"></div>

		<form class="row g-3 align-items-center p-2"
			th:action="${servletRequest.requestURI}" th:object="${event}"
			method="POST">
			<div class="col-auto">
				<div class="input-group">
					<div class="input-group-text">Search String</div>
					<input type="text" class="form-control" th:field="*{searchFor}"
						placeholder="Search for...">
				</div>
			</div>

			<div class="col-auto">
				<button type="submit" class="btn btn-sm btn-secondary">Submit</button>
			</div>
		</form>

		<div class="row p2-2">
			<div class="col-12 my-2" th:each="ob : ${listEvent}">
				<div class="card h-100">
					<h5 class="card-header text-center" th:text="${ob.title}"></h5>
					<div class="card-body text-center">
						<p th:utext="${ob.description}"></p>
						<div class="small m-3 text-success"
							th:text="#{event.fromDateTime} + ' : ' + ${#temporals.format(ob.fromDateTime, 'dd-MM-yyyy HH:mm')} + '; ' + #{event.toDateTime} + ' : ' + ${#temporals.format(ob.toDateTime, 'dd-MM-yyyy HH:mm')}"></div>
						<div class="small m-3 text-success"
							th:text="#{event.contactDetails} + ' : ' + ${ob.contactDetails}"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-12">
			<nav aria-label="Page navigation example" th:if="${totalPages > 0}">
				<ul class="pagination">
					<li class="page-item" th:if="${!firstPage}"><a
						class="page-link text-primary" th:href="@{/home/event/list}"><i
							class="bi bi-chevron-bar-left"></i></a></li>
					<li class="page-item" th:if="${!firstPage}"><a
						class="page-link text-primary"
						th:href="@{/home/event/list/previous}"><i
							class="bi bi-chevron-left"></i></a></li>
					<li class="page-item"><a class="page-link text-primary"
						th:text="${currentPage + ' ... of ... ' + totalPages}"></a></li>
					<li class="page-item" th:if="${!lastPage}"><a
						class="page-link text-primary" th:href="@{/home/event/list/next}"><i
							class="bi bi-chevron-right"></i></a></li>
					<li class="page-item" th:if="${!lastPage}"><a
						class="page-link text-primary" th:href="@{/home/event/list/last}"><i
							class="bi bi-chevron-bar-right"></i></a></li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="container" th:replace="~{fragments :: footer}"></div>

</body>

</html>