<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Gallery (View)</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<div class="row pb-3">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/admin/gallery/list/current}">&lt;&lt; Back To List</a>
						</div>
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-sm-2 col-form-label text-primary" th:text="#{gallery.title}"></label>
					<div class="col-sm-10">
						<span class="form-control border-light" th:text="${gallery.title}"></span>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label text-primary" th:text="#{gallery.description}"></label>
					<div class="col-sm-10">
						<span class="form-control border-light" th:utext="${gallery.description}"></span>
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-sm-2 col-form-label text-primary" th:text="#{gallery.date}"></label>
					<div class="col-sm-10">
						<span class="form-control border-light" th:text="${#dates.format(gallery.date, 'dd-MM-yyyy')}"></span>
					</div>
				</div>

				<form class="row g-3 align-items-center py-3"  th:action= "${servletRequest.requestURI}" th:object="${photo}" method="POST" enctype="multipart/form-data">

					<input type="hidden" th:field="*{gallery}"/>
					
				  	<div class="col-auto">
				    	<div class="input-group">
				      	<div class="input-group-text">Add Files to Gallery</div>
				      		<input type="file" multiple class="form-control" th:field="*{files}" placeholder="photo.files">
				    	</div>
				  	</div>
				
				  	<div class="col-auto">
				    	<button type="submit" class="btn btn-sm btn-secondary">Submit</button>
				  	</div>
				</form>
			
				<div class="row m-3 p-4 bg-light border border-success border-1 rounded-3" style="max-height: 600px; overflow: scroll;" id="bootstrap-image-gallery">
				    <div class="col-sm-3 p-2 text-center" th:each="obj,iterator : ${gallery.photos}">
				        <a class="lg-item" 
				            th:data-src="@{/home/gallery/photo/download/{id}(id=${obj.id})}">
							<img th:src="@{/home/gallery/photo/download/{id}(id=${obj.id})}"
								class="border rounded rounded-3 img-fluid" th:alt="${obj.fileName}" th:title="${obj.fileName}" />
				        </a>
						<a class="nav-link" th:href="@{/admin/photo/delete/{orderId}(orderId=${obj.id})}" title="Delete Photo" onclick="return confirm('Are you sure to delete the file.');">
							<img th:src="@{/images/bootstrap-icons/trash-fill.svg}" alt="Delete"/>
						</a>
				    </div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
	
	<script type="text/javascript">
		
		window.lightGallery(document.querySelector('#bootstrap-image-gallery'), {
		    selector: '.lg-item',
		    plugins: [
		        lgZoom,
		        lgThumbnail
		    ],
		});
	</script>
</body>	
</html>