<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Change Password</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${changePasswordForm}" method="POST">

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{cpf.currentPassword}"></label>
				    	<div class="col-sm-4">
							<input type="password" class="form-control" th:field="*{currentPassword}" th:placeholder="#{cpf.currentPassword}" autofocus >
				      		<ul><li class="cooperror" th:errors="*{currentPassword}" /></ul>
				    	</div>
				    </div>
				    <div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{cpf.newPassword}"></label>
				    	<div class="col-sm-4">
							<input type="password" class="form-control" th:field="*{newPassword}" th:placeholder="#{cpf.newPassword}">
				      		<ul><li class="cooperror" th:errors="*{newPassword}" /></ul>
				    	</div>
				    </div>
				    <div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{cpf.retypeNewPassword}"></label>
				    	<div class="col-sm-4">
							<input type="password" class="form-control" th:field="*{retypeNewPassword}" th:placeholder="#{cpf.retypeNewPassword}">
				      		<ul><li class="cooperror" th:errors="*{retypeNewPassword}" /></ul>
				    	</div>
				    </div>
					<div class="row mb-3">
						<div class="offset-sm-2">
							<button type="submit" class="btn btn-sm btn-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>