<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Quotation (Edit)</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<div class="row pb-3">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/manager/quotation/list/current}">&lt;&lt; Back To List</a>
						</div>
					</div>
				</div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${quotation}" method="POST">
				
					<input type="hidden" th:field="*{id}"/>

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{quotation.quote}"></label>
						<div class="col-sm-10">
							<input type="text" class="form-control required" th:field="*{quote}" th:placeholder="#{quotation.quote}" autofocus >
							<ul><li class="cooperror" th:errors="*{quote}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{quotation.author}"></label>
						<div class="col-sm-4">
							<input type="text" class="form-control required" th:field="*{author}" th:placeholder="#{quotation.author}" >
							<ul><li class="cooperror" th:errors="*{author}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{quotation.source}"></label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{source}" th:placeholder="#{quotation.source}" >
							<ul><li class="cooperror" th:errors="*{source}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<div class="offset-sm-2">
							<button type="submit" class="btn btn-sm btn-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>	
</html>