<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{fragments :: html_head}"></head>
	
	<body>
	
		<div class="container text-center" th:replace="~{fragments :: header}"></div>
		
		<div class="container-fluid">
			
			<div class="p-2" th:each="ob : ${listArticle}">
				
				<div class="h3 text-success p-2 mt-3 border border-1 rounded-2 bg-primary-subtle bg-gradient" th:text="${ob.title}"></div>
				
				<div class="h6 p-3" th:text="${ob.author}"></div>
				
				<div class="p-2" th:utext="${ob.content}"></div>
				
				<div class="small p-2" th:text="${'Last Update: ' + ob.recordUpdateDate}"></div>
				
			</div>
			
			<div class="row p-2">
				<div class="col-12">
					<nav aria-label="Page navigation example" th:if="${totalPages > 0}">
						<ul class="pagination">
							<li class="page-item" th:if="${!firstPage}"><a class="page-link text-success" th:href="@{/home/article/list}"><i class="bi bi-chevron-bar-left"></i></a></li>
							<li class="page-item" th:if="${!firstPage}"><a class="page-link text-success" th:href="@{/home/article/list/previous}"><i class="bi bi-chevron-left"></i></a></li>
							<li class="page-item"><a class="page-link text-success" th:text="${currentPage + '... of ...' + totalPages}"></a></li>
							<li class="page-item" th:if="${!lastPage}"><a class="page-link text-success" th:href="@{/home/article/list/next}"><i class="bi bi-chevron-right"></i></a></li>
							<li class="page-item" th:if="${!lastPage}"><a class="page-link text-success" th:href="@{/home/article/list/last}"><i class="bi bi-chevron-bar-right"></i></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		
		<div class="container" th:replace="~{fragments :: footer}"></div>
		
	</body>
	
</html>