<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: html_head}"></head>

<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>

	<div class="container-fluid">

		<div class="p-2">

			<div
				class="h3 text-success p-2border border-1 rounded-2 bg-primary-subtle bg-gradient"
				th:text="${article.title}"></div>

			<div class="h6 p-2" th:text="${article.author}"></div>

			<div class="p-2" th:utext="${article.content}"></div>

			<div class="small p-2"
				th:text="${'Last Update: ' + article.recordUpdateDate}"></div>
		</div>
	</div>

	<div class="container" th:replace="~{fragments :: footer}"></div>

</body>

</html>