<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: html_head}"></head>

<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>

	<div class="container-fluid">

		<h4 class="h4 p-2">Assessment (Step - 4) - Select Student</h4>

		<div class="alert alert-warning p-2" role="alert" th:text="${message}"
			th:if="${message != null }"></div>

		<div class="row p-2">
			<div class="col-12">
				<div class="d-grid gap-2 d-md-block">
					<a class="btn btn-primary btn-sm" role="button"
						th:href="@{/dashboard/assessment}"><i
						class="bi bi-chevron-double-left"></i> To Step - 1</a>
				</div>
			</div>
		</div>

		<form class="p-2" th:action="${servletRequest.requestURI}"
			th:object="${assessmentForm}" method="POST">

			<input type="hidden" th:field="*{session}" /> <input type="hidden"
				th:field="*{assessment}" /> <input type="hidden"
				th:field="*{sessionDetail}" />

			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{academicSession}"></label>
				<div class="col-sm-4">
					<div class="form-control" th:text="${assessmentForm.session.label}"></div>
					<ul>
						<li class="text-danger" th:errors="*{session}" />
					</ul>
				</div>
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{assessment}"></label>
				<div class="col-sm-4">
					<div class="form-control"
						th:text="${assessmentForm.assessment.name}"></div>
					<ul>
						<li class="text-danger" th:errors="*{assessment}" />
					</ul>
				</div>
			</div>

			<div class="row p-2">

				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{sessionDetail}"></label>
				<div class="col-sm-4">
					<div class="form-control"
						th:text="${assessmentForm.sessionDetail.label}"></div>
					<ul>
						<li class="text-danger" th:errors="*{sessionDetail}" />
					</ul>
				</div>

				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{student}"></label>
				<div class="col-sm-4">

					<select class="form-select  bg-warning-subtle" th:field="*{student}">
						<option th:each="p : ${listStudent}" th:value="${p.id}"
							th:text="${p.label}" />
					</select>
					<ul>
						<li class="text-danger" th:errors="*{student}" />
					</ul>
				</div>
			</div>

			<div class="row p-2">
				<div class="offset-sm-2 col-sm-2">
					<button type="submit" class="btn btn-sm btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>

	<div class="container" th:replace="~{fragments :: footer}"></div>
	
</body>

</html>