<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: html_head}"></head>

<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>

	<div class="container-fluid">

		<h4 class="h4 p-2">Carousel (Photos)</h4>

		<div class="alert alert-warning p-2" role="alert" th:text="${message}"
			th:if="${message != null }"></div>

		<div class="row p-2">
			<div class="col-12">
				<div class="d-grid gap-2 d-md-block">
					<a class="btn btn-primary btn-sm" role="button"
						th:href="@{/manager/carousel/addNew}"><i
						class="bi bi-plus-circle"></i> Carousel Photo</a>
				</div>
			</div>
		</div>

		<div class="h5 p-2" th:text="'Total Records: ' + ${totalRecords}"></div>

		<div class="row p-2">
			<div class="col-12">
				<table class="table table-sm small table-bordered table-striped">

					<thead>
						<tr>
							<th style="width: 75px;" th:text="'S/N'"></th>
							<th style="width: 150px;"></th>
							<th th:text="#{carousel.title}"></th>
							<th th:text="#{carousel.description}"></th>
							<th style="width: 100px;" th:text="#{carousel.pubEndDate}"></th>
							<th style="width: 100px;" th:text="#{recordUpdateDate}"></th>
							<th style="width: 15px;"></th>
							<th style="width: 15px;"></th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="ob,iterator : ${listCarousel}">
							<td th:text="${20 * (currentPage - 1) + iterator.index + 1}"></td>
							<td class="text-center"><img width="100px"
								th:src="@{/home/carousel/download/{orderId}(orderId=${ob.id})}" />
							</td>
							<td th:text="${ob.title}"></td>
							<td th:text="${ob.description}"></td>
							<td th:text="${#dates.format(ob.pubEndDate, 'dd/MM/yyyy')}"></td>
							<td th:text="${#dates.format(ob.recordUpdateDate, 'dd/MM/yyyy')}"></td>
							<td><a class="nav-link"
								th:href="@{/manager/carousel/edit/{orderId}(orderId=${ob.id})}"
								title="Edit Record"> <i class="bi bi-vector-pen"></i>
							</a></td>
							<td><a class="nav-link"
								th:href="@{/manager/carousel/delete/{orderId}(orderId=${ob.id})}"
								onclick="return confirm('Are you sure?')" title="Delete Record">
									<i class="bi bi-trash-fill"></i>
							</a></td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example" th:if="${totalPages > 0}">
					<ul class="pagination">
						<li class="page-item" th:if="${!firstPage}"><a
							class="page-link text-primary"
							th:href="@{/manager/carousel/list}"><i
								class="bi bi-chevron-bar-left"></i></a></li>
						<li class="page-item" th:if="${!firstPage}"><a
							class="page-link text-primary"
							th:href="@{/manager/carousel/list/previous}"><i
								class="bi bi-chevron-left"></i></a></li>
						<li class="page-item"><a class="page-link text-primary"
							th:text="${currentPage + '... of ...' + totalPages}"></a></li>
						<li class="page-item" th:if="${!lastPage}"><a
							class="page-link text-primary"
							th:href="@{/manager/carousel/list/next}"><i
								class="bi bi-chevron-right"></i></a></li>
						<li class="page-item" th:if="${!lastPage}"><a
							class="page-link text-primary"
							th:href="@{/manager/carousel/list/last}"><i
								class="bi bi-chevron-bar-right"></i></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="container" th:replace="~{fragments :: footer}"></div>

</body>

</html>