<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">SessionDetail (View)</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<div class="row pb-3">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/admin/sessionDetail/list/current}">&lt;&lt; Back To List</a>
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/admin/sessionDetail/register/student/{orderId}(orderId=${sessionDetail.id})}">Register Student</a>
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/admin/sessionDetail/register/subject/{orderId}(orderId=${sessionDetail.id})}">Register Subject &amp; Teacher</a>
						</div>
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-sm-2 col-form-label text-primary" th:text="#{sessionDetail.session}"></label>
					<div class="col-sm-4">
						<span class="form-control border-light" th:text="${sessionDetail.session.label}"></span>
					</div>
					<label class="col-sm-2 col-form-label text-primary" th:text="#{sessionDetail.schoolClass}"></label>
					<div class="col-sm-4">
						<span class="form-control border-light" th:utext="${sessionDetail.schoolClass.label}"></span>
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-sm-2 col-form-label text-primary" th:text="#{academicSession.startDate}"></label>
					<div class="col-sm-4">
						<span class="form-control border-light" th:text="${#dates.format(sessionDetail.session.startDate, 'dd-MM-yyyy')}"></span>
					</div>
					<label class="col-sm-2 col-form-label text-primary" th:text="#{academicSession.endDate}"></label>
					<div class="col-sm-4">
						<span class="form-control border-light" th:utext="${#dates.format(sessionDetail.session.endDate, 'dd-MM-yyyy')}"></span>
					</div>
				</div>
				
				<div class="h4 pt-3 pb-3" th:text="'Subjects + Teachers'"></div>
				<table class="table table-sm small table-bordered table-striped">
				
					<thead>
						<tr>
							<th class="col-sm-1" th:text="'S/N'"></th>
							<th class="col-sm-1" th:text="'Subject: ' + #{subject.code}"></th>
							<th class="col-sm-2" th:text="'Subject: ' + #{subject.name}"></th>
							<th class="col-sm-1" th:text="'Teacher: ' + #{staff.staffId}"></th>
							<th th:text="'Teacher: ' + #{staff.name}"></th>
							<th class="col-sm-2" th:text="'Teacher: ' + #{staff.designation}"></th>
        					<th class="col-sm-2" th:text="'Teacher: ' + #{staff.email}"></th>
							<th style="width: 15px;"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="ob,iterator : ${listSubjectTeacher}">
        					<td th:text="${iterator.index + 1}"></td>
        					<td th:text="${ob.subject.code}"></td>
        					<td th:text="${ob.subject.name}"></td>
        					<td th:text="${ob.teacher.staffId}"></td>
        					<td th:text="${ob.teacher.name}"></td>
        					<td th:text="${ob.teacher.designation}"></td>
        					<td th:text="${ob.teacher.email}"></td>
        					<td>
		        				<a class="nav-link" th:href="@{/admin/sessionDetailSubjectTeacher/delete/{orderId}(orderId=${ob.id})}" onclick="return confirm('Are you sure?')" title="Delete Record">
						          	<img th:src="@{/images/bootstrap-icons/trash-fill.svg}"/>
						        </a>
        					</td>
						</tr>
					</tbody>
				</table>
			
				<div class="h4 pt-3 pb-3" th:text="'Student'"></div>
				<table class="table table-sm small table-bordered table-striped">
				
					<thead>
						<tr>
							<th class="col-sm-1" th:text="'S/N'"></th>
							<th class="col-sm-1" th:text="#{student.studentId}"></th>
							<th th:text="#{student.name}"></th>
							<th class="col-sm-2" th:text="#{student.nameOfFather}"></th>
							<th class="col-sm-2" th:text="#{student.nameOfMother}"></th>
							<th class="col-sm-1" th:text="#{student.mobile}"></th>
							<th style="width: 15px;"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="ob,iterator : ${listStudent}">
        					<td th:text="${iterator.index + 1}"></td>
        					<td th:text="${ob.student.studentId}"></td>
        					<td th:text="${ob.student.name}"></td>
        					<td th:text="${ob.student.nameOfFather}"></td>
        					<td th:text="${ob.student.nameOfMother}"></td>
        					<td th:text="${ob.student.mobile}"></td>
        					<td>
		        				<a class="nav-link" th:href="@{/admin/sessionDetailStudent/delete/{orderId}(orderId=${ob.id})}" onclick="return confirm('Are you sure?')" title="Delete Record">
						          	<img th:src="@{/images/bootstrap-icons/trash-fill.svg}"/>
						        </a>
        					</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>	
</html>