<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: html_head}"></head>

<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>
		
	<div class="container-fluid">
				
		<h4 class="h4 p-2">Message (Add New)</h4>
		
		<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>
		
		<form class="p-2" th:action="${servletRequest.requestURI}" th:object="${schoolMessage}" method="POST">
			
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary" th:text="#{schoolMessage.targetAudience}"></label>
		    	<div class="col-sm-2">
					<select class="form-select  bg-warning-subtle" th:field="*{targetAudience}">
			            <option value="Student" label="Student" />
			            <option value="Staff" label="Staff" />
			            <option value="Both" label="Both" />
			        </select>
			        <ul><li class="text-danger" th:errors="*{targetAudience}" /></ul>
		    	</div>
				<label class="col-sm-2 col-form-label text-primary" th:text="#{schoolMessage.sendEmail}"></label>
		    	<div class="col-sm-2">
					<select class="form-select  bg-warning-subtle" th:field="*{sendEmail}">
			            <option th:each="p : ${listYesNo}" th:value="${p.value}" th:text="${p.label}" />
			        </select>
			        <ul><li class="text-danger" th:errors="*{sendEmail}" /></ul>
		    	</div>
			</div>
			
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary" th:text="#{schoolMessage.subject}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control  bg-warning-subtle" th:field="*{subject}" th:placeholder="#{schoolMessage.subject}" autofocus >
					<ul><li class="text-danger" th:errors="*{subject}" /></ul>
				</div>
			</div>
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary" th:text="#{schoolMessage.content}"></label>
				<div class="col-sm-10">
					<textarea class="form-control  bg-warning-subtle" rows="5" th:field="*{content}" th:placeholder="#{schoolMessage.content}"></textarea>
					<ul><li class="text-danger" th:errors="*{content}" /></ul>
				</div>
			</div>
			<div class="row p-2">
				<div class="offset-sm-2 col-sm-2">
					<button type="submit" class="btn btn-sm btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}"></div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('#content').summernote({height: 200});
		});
    </script>
    
</body>	

</html>