<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: html_head}"></head>

<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>

	<div class="container-fluid">

		<h4 class="h4 p-2">Expenditure (Add New)</h4>

		<div class="alert alert-warning p-2" role="alert" th:text="${message}"
			th:if="${message != null }"></div>

		<form class="p-2" th:action="${servletRequest.requestURI}"
			th:object="${expenditure}" method="POST">

			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{expenditure.paidTo}"></label>
				<div class="col-sm-4">
					<input type="text" class="form-control  bg-warning-subtle"
						th:field="*{paidTo}" th:placeholder="#{expenditure.paidTo}">
					<ul>
						<li class="text-danger" th:errors="*{paidTo}" />
					</ul>
				</div>
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{expenditure.towards}"></label>
				<div class="col-sm-4">
					<input type="text" class="form-control  bg-warning-subtle"
						th:field="*{towards}" th:placeholder="#{expenditure.towards}">
					<ul>
						<li class="text-danger" th:errors="*{towards}" />
					</ul>
				</div>
			</div>
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{expenditure.amount}"></label>
				<div class="col-sm-4">
					<input type="text" class="form-control  bg-warning-subtle amount text-end"
						th:field="*{amount}" th:placeholder="#{expenditure.amount}"
						autofocus />
					<ul>
						<li class="text-danger" th:errors="*{amount}" />
					</ul>
				</div>
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{expenditure.headOfAccount}"></label>
				<div class="col-sm-4">
					<select class="form-select  bg-warning-subtle" th:field="*{headOfAccount}">
						<option th:each="p : ${listHeadOfAccount}" th:value="${p.id}"
							th:text="${p.name + ' [' + p.code + ']'}" />
					</select>
					<ul>
						<li class="text-danger" th:errors="*{headOfAccount}" />
					</ul>
				</div>
			</div>
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{expenditure.narration}"></label>
				<div class="col-sm-10">
					<input type="text" class="form-control  bg-warning-subtle"
						th:field="*{narration}" th:placeholder="#{expenditure.narration}" />
					<ul>
						<li class="text-danger" th:errors="*{narration}" />
					</ul>
				</div>
			</div>
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{expenditure.modeOfPayment}"></label>
				<div class="col-sm-4">
					<select class="form-select  bg-warning-subtle" th:field="*{modeOfPayment}">
						<option th:value="Cash" th:text="Cash" />
						<option th:value="Cheque" th:text="Cheque" />
						<option th:value="Online" th:text="Online" />
					</select>
					<ul>
						<li class="text-danger" th:errors="*{modeOfPayment}" />
					</ul>
				</div>
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{expenditure.transactionDate}"></label>
				<div class="col-sm-4">
					<input type="date" class="form-control  bg-warning-subtle"
						th:field="*{transactionDate}"
						th:placeholder="#{expenditure.transactionDate}">
					<ul>
						<li class="text-danger" th:errors="*{transactionDate}" />
					</ul>
				</div>
			</div>
			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{expenditure.voucherInvoiceNumber}"></label>
				<div class="col-sm-4">
					<input type="text" class="form-control  bg-warning-subtle"
						th:field="*{voucherInvoiceNumber}"
						th:placeholder="#{expenditure.voucherInvoiceNumber}">
					<ul>
						<li class="text-danger" th:errors="*{voucherInvoiceNumber}" />
					</ul>
				</div>
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{expenditure.voucherDate}"></label>
				<div class="col-sm-4">
					<input type="date" class="form-control  bg-warning-subtle"
						th:field="*{voucherDate}"
						th:placeholder="#{expenditure.voucherDate}">
					<ul>
						<li class="text-danger" th:errors="*{voucherDate}" />
					</ul>
				</div>
			</div>
			<div class="row p-2">
				<div class="offset-sm-2 col-sm-2">
					<button type="submit" class="btn btn-sm btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>

	<div class="container" th:replace="~{fragments :: footer}"></div>

</body>

</html>