<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row px-4 py-2">
			
			<div class="col-12">
			
				<h4 class="h4 pb-3">Category (Add New)</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<div class="row pb-3">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/manager/category/list/current}">&lt;&lt; Back To List</a>
						</div>
					</div>
				</div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${category}" method="POST">

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{category.code}"></label>
						<div class="col-sm-2">
							<input type="text" class="form-control required" th:field="*{code}" th:placeholder="#{category.code}" autofocus >
							<ul><li class="cooperror" th:errors="*{code}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{category.name}"></label>
						<div class="col-sm-4">
							<input type="text" class="form-control required" th:field="*{name}" th:placeholder="#{category.name}" >
							<ul><li class="cooperror" th:errors="*{name}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<div class="offset-sm-2">
							<button type="submit" class="btn btn-sm btn-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>