<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Member (Edit)</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<div class="row pb-3">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/manager/member/list/current}">&lt;&lt; Back To List</a>
						</div>
					</div>
				</div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${member}" method="POST">

					<input type="hidden" class="form-control" th:field="*{id}">

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{member.uid}"></label>
				    	<div class="col-sm-4">
							<input type="text" readonly class="form-control required" th:field="*{uid}" th:placeholder="#{member.uid}">
				    	</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{member.name}"></label>
				    	<div class="col-sm-4">
							<input type="text" readonly class="form-control required" th:field="*{name}" th:placeholder="#{member.name}">
				    	</div>
				    </div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{member.accountNonExpired}"></label>
						<div class="col-sm-4">
							<select class="form-select required" th:field="*{accountNonExpired}">
								<option th:each="p : ${listYesNo}" th:value="${p.value}" th:text="${p.label}" />
							</select>
						</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{member.accountNonLocked}"></label>
						<div class="col-sm-4">
							<select class="form-select required" th:field="*{accountNonLocked}">
								<option th:each="p : ${listYesNo}" th:value="${p.value}" th:text="${p.label}" />
							</select>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{member.credentialsNonExpired}"></label>
						<div class="col-sm-4">
							<select class="form-select required" th:field="*{credentialsNonExpired}">
								<option th:each="p : ${listYesNo}" th:value="${p.value}" th:text="${p.label}" />
							</select>
						</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{member.enabled}"></label>
						<div class="col-sm-4">
							<select class="form-select required" th:field="*{enabled}">
								<option th:each="p : ${listYesNo}" th:value="${p.value}" th:text="${p.label}" />
							</select>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{member.roles}"></label>
						<div class="col-sm-10">
							<div th:each="role : ${listRole}">
								<div class="form-check">
								  <input class="form-check-input" type="checkbox" th:field="*{roles}" th:value="${role.id}" />
								  <label class="form-check-label" for="${#ids.prev('roles')}" th:text="${role.code}"></label>
								</div>
							</div>
						</div>
					</div>
					<div class="row mb-3">
						<div class="offset-sm-2">
							<button type="submit" class="btn btn-sm btn-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>	
</html>