<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: html_head}"></head>

<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>

	<div class="container-fluid">

		<div class="row p-2">
			<div class="col-3 g-3 text-center"
				th:each="ob,iterator : ${listGallery}">

				<div class="p-3 g-2 border border-1 border-light rounded-3">
					<a class="lg-item"
						th:href="@{/home/gallery/view/{id}(id=${ob.id})}"> <img
						th:src="@{/home/gallery/download/{id}(id=${ob.id})}"
						class="border rounded rounded-3 img-fluid" th:alt="${ob.fileName}"
						th:title="${ob.fileName}" />
					</a>

					<div class="pb-2 h5" th:text="${ob.title}"></div>

					<div class="small pb-2 h6"
						th:text="${#dates.format(ob.date, 'dd-MM-yyyy')}"></div>
				</div>
			</div>

			<div class="col-12 pt-4">
				<nav aria-label="Page navigation example" th:if="${totalPages > 0}">
					<ul class="pagination">
						<li class="page-item" th:if="${!firstPage}"><a
							class="page-link text-success" th:href="@{/home/gallery/list}"><i
								class="bi bi-chevron-bar-left"></i></a></li>
						<li class="page-item" th:if="${!firstPage}"><a
							class="page-link text-success"
							th:href="@{/home/gallery/list/previous}"><i
								class="bi bi-chevron-left"></i></a></li>
						<li class="page-item"><a class="page-link text-success"
							th:text="${currentPage + '... of ...' + totalPages}"></a></li>
						<li class="page-item" th:if="${!lastPage}"><a
							class="page-link text-success"
							th:href="@{/home/gallery/list/next}"><i
								class="bi bi-chevron-right"></i></a></li>
						<li class="page-item" th:if="${!lastPage}"><a
							class="page-link text-success"
							th:href="@{/home/gallery/list/last}"><i
								class="bi bi-chevron-bar-right"></i></a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>

	<div class="container" th:replace="~{fragments :: footer}"></div>

</body>

</html>