<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid">
		<div class="row px-4 py-2">

			<div class="col-12">
				
				<h4 class="h4 mb-3">My Dashboard</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<div class="accordion" id="accordionExample">
  					<div class="accordion-item">
    					<h2 class="accordion-header">
	      					<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	        					My Tasks
	      					</button>
    					</h2>
    					<div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      						<div class="accordion-body">
        						<div class="row p-3 g-3" >
        						
									<div class="col-md-2 text-center">
										<a class="nav-link" th:href="@{/dashboard/attendance}">
					   						<img width="25px" th:src="@{/images/bootstrap-icons/person-raised-hand.svg}" alt="Attendance"/>
					   						<br/>Attendance
										</a>
									</div>
									
									<div class="col-md-2 text-center">
										<a class="nav-link" th:href="@{/dashboard/changePassword}">
					   						<img width="25px" th:src="@{/images/bootstrap-icons/key.svg}" alt="Change Password"/>
					   						<br/>Change Password
										</a>
									</div>
									
									<div class="col-md-2 text-center">
										<a class="nav-link" th:href="@{/dashboard/profile}">
					   						<img width="25px" th:src="@{/images/bootstrap-icons/person-vcard.svg}" alt="My Profile"/>
										<br/>My Profile
										</a>
									</div>
									
									<div class="col-md-2 text-center">
										<a class="nav-link" th:href="@{/dashboard/payments/list}">
					   						<img width="25px" th:src="@{/images/bootstrap-icons/credit-card.svg}" alt="Payments"/>
										<br/>Payments
										</a>
									</div>
									
									<div class="col-md-2 text-center">
										<a class="nav-link" th:href="@{/dashboard/receipts/list}">
					   						<img width="25px" th:src="@{/images/bootstrap-icons/receipt.svg}" alt="Receipts"/>
										<br/>Receipts
										</a>
									</div>
									
									<div class="col-md-2 text-center">
										<a class="nav-link" th:href="@{/dashboard/session/details}">
					   						<img width="25px" th:src="@{/images/bootstrap-icons/briefcase.svg}" alt="Session Details"/>
										<br/>Session Details
										</a>
									</div>
								</div>
        					</div>
    					</div>
  					</div>
  					<!-- 
	  				<div class="accordion-item">
	    				<h2 class="accordion-header">
	      					<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	        					Accordion Item #2
	      					</button>
	    				</h2>
	    				<div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
	      					<div class="accordion-body">
	        					<strong>This is the second item’s accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It’s also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
	      					</div>
	    				</div>
	  				</div>
	  				 -->
				</div>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>