<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Parameters Form</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form th:action="${servletRequest.requestURI}" th:object="${parameters}" method="POST">

					<input type="hidden" th:field="*{id}"/>
					
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.siteUrl}"></label>
				    	<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{siteUrl}" th:placeholder="#{parameters.siteUrl}" autofocus >
				      		<ul><li class="cooperror" th:errors="*{siteUrl}" /></ul>
				    	</div>
				    </div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.header}"></label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{header}" th:placeholder="#{parameters.header}" autofocus >
					  		<ul><li class="cooperror" th:errors="*{header}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.subHeader}"></label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{subHeader}" th:placeholder="#{parameters.subHeader}" autofocus >
					  		<ul><li class="cooperror" th:errors="*{subHeader}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.address}"></label>
						<div class="col-sm-10">
							<input type="text" class="form-control" th:field="*{address}" th:placeholder="#{parameters.address}" autofocus >
					  		<ul><li class="cooperror" th:errors="*{address}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.mailEnable}"></label>
				    	<div class="col-sm-4">
							<select class="form-select" th:field="*{mailEnable}">
					            <option th:each="p : ${listYesNo}" th:value="${p.value}" th:text="${p.label}" />
					        </select>
					        <ul><li class="cooperror" th:errors="*{mailEnable}" /></ul>
				    	</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.mailHost}"></label>
				    	<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{mailHost}" th:placeholder="#{parameters.mailHost}">
				      		<ul><li class="cooperror" th:errors="*{mailHost}" /></ul>
				    	</div>
				    </div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.mailPort}"></label>
				    	<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{mailPort}" th:placeholder="#{parameters.mailPort}">
				      		<ul><li class="cooperror" th:errors="*{mailPort}" /></ul>
				    	</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.mailTransportProtocol}"></label>
				    	<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{mailTransportProtocol}" th:placeholder="#{parameters.mailTransportProtocol}">
				      		<ul><li class="cooperror" th:errors="*{mailTransportProtocol}" /></ul>
				    	</div>
				    </div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.mailSmtpPort}"></label>
				    	<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{mailSmtpPort}" th:placeholder="#{parameters.mailSmtpPort}">
				      		<ul><li class="cooperror" th:errors="*{mailSmtpPort}" /></ul>
				    	</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.mailSmtpAuth}"></label>
				    	<div class="col-sm-4">
							<select class="form-select" th:field="*{mailSmtpAuth}">
					            <option th:each="p : ${listYesNo}" th:value="${p.value}" th:text="${p.label}" />
					        </select>
					        <ul><li class="cooperror" th:errors="*{mailSmtpAuth}" /></ul>
				    	</div>
				    </div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.mailSmtpStarttlsEnable}"></label>
				    	<div class="col-sm-4">
							<select class="form-select" th:field="*{mailSmtpStarttlsEnable}">
					            <option th:each="p : ${listYesNo}" th:value="${p.value}" th:text="${p.label}" />
					        </select>
					        <ul><li class="cooperror" th:errors="*{mailSmtpStarttlsEnable}" /></ul>
				    	</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.mailSmtpStarttlsRequired}"></label>
				    	<div class="col-sm-4">
							<select class="form-select" th:field="*{mailSmtpStarttlsRequired}">
					            <option th:each="p : ${listYesNo}" th:value="${p.value}" th:text="${p.label}" />
					        </select>
					        <ul><li class="cooperror" th:errors="*{mailSmtpStarttlsRequired}" /></ul>
				    	</div>
				    </div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.mailUsername}"></label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{mailUsername}" th:placeholder="#{parameters.mailUsername}">
							<ul><li class="cooperror" th:errors="*{mailUsername}" /></ul>
						</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.mailPassword}"></label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{mailPassword}" th:placeholder="#{parameters.mailPassword}">
							<ul><li class="cooperror" th:errors="*{mailPassword}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.emailDayLimit}"></label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{emailDayLimit}" th:placeholder="#{parameters.emailDayLimit}">
							<ul><li class="cooperror" th:errors="*{emailDayLimit}" /></ul>
						</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.dataDirectory}"></label>
						<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{dataDirectory}" th:placeholder="#{parameters.dataDirectory}">
							<ul><li class="cooperror" th:errors="*{dataDirectory}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.fromEmail}"></label>
				    	<div class="col-sm-4">
							<input type="text" class="form-control" th:field="*{fromEmail}" th:placeholder="#{parameters.fromEmail}">
				      		<ul><li class="cooperror" th:errors="*{fromEmail}" /></ul>
				    	</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.emailSignature}"></label>
				    	<div class="col-sm-4">
							<textarea class="form-control" rows="5" th:field="*{emailSignature}" th:placeholder="#{parameters.emailSignature}"></textarea>
				      		<ul><li class="cooperror" th:errors="*{emailSignature}" /></ul>
				    	</div>
				    </div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.about}"></label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="5" th:field="*{about}" th:placeholder="#{parameters.about}"></textarea>
							<ul><li class="cooperror" th:errors="*{about}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.privacyPolicy}"></label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="5" th:field="*{privacyPolicy}" th:placeholder="#{parameters.privacyPolicy}"></textarea>
							<ul><li class="cooperror" th:errors="*{privacyPolicy}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.disclaimer}"></label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="5" th:field="*{disclaimer}" th:placeholder="#{parameters.disclaimer}"></textarea>
							<ul><li class="cooperror" th:errors="*{disclaimer}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{parameters.termsAndConditions}"></label>
						<div class="col-sm-10">
							<textarea class="form-control" rows="5" th:field="*{termsAndConditions}" th:placeholder="#{parameters.termsAndConditions}"></textarea>
							<ul><li class="cooperror" th:errors="*{termsAndConditions}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<div class="offset-sm-2">
							<button type="submit" class="btn btn-sm btn-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$('#about').summernote({height: 200});
			$('#privacyPolicy').summernote({height: 200});
			$('#disclaimer').summernote({height: 200});
			$('#termsAndConditions').summernote({height: 200});
		});
    </script>
</body>
</html>