<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row px-4 py-2">

			<div class="col-12">
				
				<h4 class="h4 pb-3">Books, etc.</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form class="row g-3 align-items-center py-3"  th:action= "${servletRequest.requestURI}" th:object="${title}" method="POST">
					  <div class="col-auto">
					    <div class="input-group">
					      <div class="input-group-text">Search String</div>
					      <input type="text" class="form-control" th:field="*{searchFor}" placeholder="Search for...">
					    </div>
					  </div>
					
					  <div class="col-auto">
					    <button type="submit" class="btn btn-sm btn-secondary">Submit</button>
					  </div>
				</form>
				
				<div class="h5" th:text="'Total Records: ' + ${totalRecords}"></div>
				<table class="table table-sm small table-bordered table-striped">
				
					<thead>
						<tr>
							<th class="col-sm-1" th:text="'S/N'"></th>
							<th class="col-sm-1" th:text="#{title.accessionNumber}"></th>
							<th th:text="#{title.uniformTitle}"></th>
							<th class="col-sm-3" th:text="#{title.authors}"></th>
							<th style="width: 15px;"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="ob,iterator : ${listTitle}">
        					<td th:text="${20 * (currentPage - 1) + iterator.index + 1}"></td>
        					<td th:text="${ob.accessionNumber}"></td>
							<td th:text="${ob.uniformTitle}"></td>
							<td th:text="${ob.authors}"></td>
							<td>
								<a class="nav-link" th:href="@{/home/title/view/{orderId}(orderId=${ob.id})}" title="View Record">
							      	<img th:src="@{/images/bootstrap-icons/folder2-open.svg}"/>
							    </a>
							</td>
						</tr>
					</tbody>
				</table>
				<nav aria-label="Page navigation example" th:if="${totalPages > 0}">
					<ul class="pagination">
						<li class="page-item" th:if="${!firstPage}"><a class="page-link" th:href="@{/home/title/list}">First</a></li>
						<li class="page-item" th:if="${!firstPage}"><a class="page-link" th:href="@{/home/title/list/previous}">Previous</a></li>
						<li class="page-item"><a class="page-link" th:text="${currentPage + '... of ...' + totalPages}"></a></li>
						<li class="page-item" th:if="${!lastPage}"><a class="page-link" th:href="@{/home/title/list/next}">Next</a></li>
						<li class="page-item" th:if="${!lastPage}"><a class="page-link" th:href="@{/home/title/list/last}">Last</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>