<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{fragments :: html_head}"></head>
	
	<body>
	
		<div class="container text-center" th:replace="~{fragments :: header}"></div>
		
		<div class="container-fluid">
			
			<h4 class="h4 p-2">Books, etc.</h4>
			
			<div class="alert alert-warning p-2" role="alert" th:text="${message}" th:if="${message != null }"></div>
			
			<div class="row p-2">
				<div class="col-12">
					<div class="d-grid gap-2 d-md-block">
						<a class="btn btn-primary btn-sm" role="button" th:href="@{/home/title/accNum/list}"><i class="bi bi-sort-down"></i> Sort by Accession Number</a>
						<a class="btn btn-primary btn-sm" role="button" th:href="@{/home/title/author/list}"><i class="bi bi-sort-down"></i> Sort by Author</a>
						<a class="btn btn-primary btn-sm" role="button" th:href="@{/home/title/list}"><i class="bi bi-sort-down"></i> Sort by Title</a>
					</div>
				</div>
			</div>
			
			<form class="row g-3 align-items-center p-2"  th:action= "${servletRequest.requestURI}" th:object="${title}" method="POST">
				  <div class="col-auto">
				    <div class="input-group">
				      <div class="input-group-text">Search String</div>
				      <input type="text" class="form-control" th:field="*{searchFor}" placeholder="Search for...">
				    </div>
				  </div>
				
				  <div class="col-auto">
				    <button type="submit" class="btn btn-sm btn-secondary">Submit</button>
				  </div>
			</form>
			
			<div class="h5 p-2" th:text="'Total Records: ' + ${totalRecords}"></div>
			<div class="row p-2">
				<div class="col-12">
					<table class="table table-sm small table-bordered table-striped">
					
						<thead>
							<tr>
								<th class="col-sm-1" th:text="'S/N'"></th>
								<th class="col-sm-1" th:text="#{title.accessionNumber}"></th>
								<th th:text="#{title.uniformTitle}"></th>
								<th class="col-sm-3" th:text="#{title.authors}"></th>
								<th style="width: 15px;"></th>
							</tr>
						</thead>
						
						<tbody>
							<tr th:each="ob,iterator : ${listTitle}">
	        					<td th:text="${20 * (currentPage - 1) + iterator.index + 1}"></td>
	        					<td th:text="${ob.accessionNumber}"></td>
								<td th:text="${ob.uniformTitle}"></td>
								<td th:text="${ob.authors}"></td>
								<td>
									<a class="nav-link" th:href="@{/home/title/accNum/view/{orderId}(orderId=${ob.id})}" title="View Record">
								      	<i class="bi bi-folder2-open"></i>
								    </a>
								</td>
							</tr>
						</tbody>
					</table>
					<nav aria-label="Page navigation example" th:if="${totalPages > 0}">
						<ul class="pagination">
							<li class="page-item" th:if="${!firstPage}"><a class="page-link text-success" th:href="@{/home/title/accNum/list}"><i class="bi bi-chevron-bar-left"></i></a></li>
							<li class="page-item" th:if="${!firstPage}"><a class="page-link text-success" th:href="@{/home/title/accNum/list/previous}"><i class="bi bi-chevron-left"></i></a></li>
							<li class="page-item"><a class="page-link text-success" th:text="${currentPage + '... of ...' + totalPages}"></a></li>
							<li class="page-item" th:if="${!lastPage}"><a class="page-link text-success" th:href="@{/home/title/accNum/list/next}"><i class="bi bi-chevron-right"></i></a></li>
							<li class="page-item" th:if="${!lastPage}"><a class="page-link text-success" th:href="@{/home/title/accNum/list/last}"><i class="bi bi-chevron-bar-right"></i></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
		
		<div class="container" th:replace="~{fragments :: footer}"></div>
		
	</body>

</html>