<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid">
		<div class="row px-4 py-2">

			<div class="col-12">
				
				<h4 class="h4 pb-3">Books, etc. (Details)</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>

				<div class="row pb-3">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/home/title/author/list/current}">&lt;&lt; Back to List</a>
						</div>
					</div>
				</div>
								
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label text-primary" th:text="#{title.accessionNumber}"></label>
				    <div class="col-sm-4">
						<span class="form-control border-light" th:text="${title.accessionNumber}"></span>
				    </div>
					<label class="col-sm-2 col-form-label text-primary" th:text="#{title.titleType}"></label>
					<div class="col-sm-4">
						<span class="form-control border-light" th:text="${title.titleType.name}"></span>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label text-primary" th:text="#{title.library}"></label>
					<div class="col-sm-6">
						<span class="form-control border-light" th:text="${title.library.name + ' [' + title.library.shortName + ']'}"></span>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label text-primary" th:text="#{title.uniformTitle}"></label>
					<div class="col-sm-10">
						<span class="form-control border-light" th:text="${title.uniformTitle}"></span>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label text-primary" th:text="#{title.authors}"></label>
					<div class="col-sm-10">
						<span class="form-control border-light" th:text="${title.authors}"></span>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label text-primary" th:text="#{title.publisher}"></label>
					<div class="col-sm-10">
						<span class="form-control border-light" th:text="${title.publisher}"></span>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-2 col-form-label text-primary" th:text="#{title.summary}"></label>
					<div class="col-sm-10">
						<span class="form-control border-light" th:utext="${title.summary}"></span>
					</div>
				</div>
				<div class="row mb-3" th:if="${co!=null}">
					<label class="col-sm-2 col-form-label text-primary" th:text="#{checkOut}"></label>
					<div class="col-sm-4">
						<span class="form-control border-light" th:text="${co.member.name + ' [' + co.member.uid + ']' }"></span>
					</div>
					<label class="col-sm-2 col-form-label text-primary">Issue Date</label>
					<div class="col-sm-4">
						<span class="form-control border-light" th:text="${#dates.format(co.transactionDate, 'dd/MM/yyyy')}"></span>
					</div>
				</div>
				<div class="row mb-3" th:if="${co!=null}">
					<label class="col-sm-2 col-form-label text-primary">Due Date</label>
					<div class="col-sm-4">
						<span class="form-control border-light" th:text="${#dates.format(co.dueDate, 'dd/MM/yyyy')}"></span>
					</div>
				</div>

			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>