<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Income (Add New)</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${income}" method="POST">
					
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{income.receivedFrom}"></label>
				    	<div class="col-sm-4">
							<input type="text" class="form-control required" th:field="*{receivedFrom}" th:placeholder="#{income.receivedFrom}" autofocus>
				      		<ul><li class="cooperror" th:errors="*{receivedFrom}" /></ul>
				    	</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{income.towards}"></label>
				    	<div class="col-sm-4">
							<input type="text" class="form-control required" th:field="*{towards}" th:placeholder="#{income.towards}" autofocus>
				      		<ul><li class="cooperror" th:errors="*{towards}" /></ul>
				    	</div>
				    </div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{income.amount}"></label>
					   	<div class="col-sm-4">
							<input type="text" class="form-control required amount text-end" th:field="*{amount}" th:placeholder="#{income.amount}">
					    	<ul><li class="cooperror" th:errors="*{amount}" /></ul>
					    </div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{income.headOfAccount}"></label>
						<div class="col-sm-4">
							<select class="form-select required" th:field="*{headOfAccount}">
								<option th:each="p : ${listHeadOfAccount}" th:value="${p.id}" th:text="${p.name + ' [' + p.code + ']'}" />
							</select>
							<ul><li class="cooperror" th:errors="*{headOfAccount}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{income.narration}"></label>
				    	<div class="col-sm-10">
							<input type="text" class="form-control required" th:field="*{narration}" th:placeholder="#{income.narration}" >
				      		<ul><li class="cooperror" th:errors="*{narration}" /></ul>
				    	</div>
				    </div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{income.modeOfReceipt}"></label>
						<div class="col-sm-4">
							<select class="form-select required" th:field="*{modeOfReceipt}">
								<option th:value="Cash" th:text="Cash" />
								<option th:value="Cheque" th:text="Cheque" />
								<option th:value="Online" th:text="Online" />
							</select>
							<ul><li class="cooperror" th:errors="*{modeOfReceipt}" /></ul>
						</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{income.transactionDate}"></label>
				    	<div class="col-sm-4">
							<input type="date" class="form-control required" th:field="*{transactionDate}" th:placeholder="#{income.transactionDate}" >
				      		<ul><li class="cooperror" th:errors="*{transactionDate}" /></ul>
				    	</div>
				    </div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{income.receiptNumber}"></label>
						<div class="col-sm-4">
							<input type="text" class="form-control required" th:field="*{receiptNumber}" th:placeholder="#{income.receiptNumber}" >
					  		<ul><li class="cooperror" th:errors="*{receiptNumber}" /></ul>
						</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{income.receiptDate}"></label>
						<div class="col-sm-4">
							<input type="date" class="form-control required" th:field="*{receiptDate}" th:placeholder="#{income.receiptDate}" >
					  		<ul><li class="cooperror" th:errors="*{receiptDate}" /></ul>
						</div>
				  	</div>
					<div class="row mb-3">
						<div class="offset-sm-2">
							<button type="submit" class="btn btn-sm btn-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>