<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Income (Last 50 Receipts)</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
								
				<table class="table table-sm small table-bordered table-striped">
				
					<thead>
						<tr>
							<th class="col-sm-1" th:text="#{id}"></th>
							<th class="col-sm-1 text-end" th:text="#{income.transactionDate}"></th>
							<th class="col-sm-1 text-end" th:text="#{income.amount}"></th>
							<th class="col-sm-1 text-end" th:text="#{income.towards}"></th>
							<th th:text="#{income.narration}"></th>
							<th class="col-sm-2" th:text="#{income.receiptNumber}"></th>
							<th class="col-sm-3" th:text="#{income.receivedFrom}"></th>
							<th style="width: 15px;"></th>
							<th style="width: 15px;"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="ob : ${listIncome}">
        					<td th:text="${ob.id}"></td>
							<td class="text-end" th:text="${#dates.format(ob.transactionDate, 'dd/MM/yyyy')}"></td>
							<td class="text-end" th:text="${ob.amount}"></td>
        					<td th:text="${ob.towards}"></td>
        					<td th:text="${ob.narration}"></td>
							<td th:text="${ob.receiptNumber}"></td>
							<td th:text="${ob.receivedFrom}"></td>
        					<td>
        						<a th:if="${ob.direct}" class="nav-link" th:href="@{/accounts/income/edit/{orderId}(orderId=${ob.id})}" title="Edit Record">
						          	<img th:src="@{/images/bootstrap-icons/pencil-square.svg}"/>
						        </a>
        					</td>
        					<td>
		        				<a th:if="${ob.direct}" class="nav-link" th:href="@{/accounts/income/delete/{orderId}(orderId=${ob.id})}" onclick="return confirm('Are you sure?')" title="Delete Record">
						          	<img th:src="@{/images/bootstrap-icons/trash-fill.svg}"/>
						        </a>
        					</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>