<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container-fluid">
		<div class="row px-4 py-2">

			<div class="col-12">
			
				<h4 class="h4 pb-3">Head of Account (List)</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<div class="row pb-3">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/accounts/headOfAccount/addNew}">Add New Head Of Account</a>
						</div>
					</div>
				</div>

				<div class="h5" th:text="'Total Records: ' + ${totalRecords}"></div>
				<table class="table table-sm small table-bordered table-striped">
				
					<thead>
						<tr>
							<th class="col-sm-1"  th:text="'S/N'"></th>
							<th class="col-sm-2" th:text="#{headOfAccount.code}"></th>
							<th th:text="#{headOfAccount.name}"></th>
							<th style="width: 15px;"></th>
							<th style="width: 15px;"></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="ob,iterator : ${listHeadOfAccount}">
							<td th:text="${20 * (currentPage - 1) + iterator.index + 1}"></td>
        					<td th:text="${ob.code}"></td>
        					<td th:text="${ob.name}"></td>
        					<td>
        						<a class="nav-link" th:href="@{/accounts/headOfAccount/edit/{orderId}(orderId=${ob.id})}" title="Edit Record">
						          	<img th:src="@{/images/bootstrap-icons/pencil-square.svg}"/>
						        </a>
        					</td>
        					<td>
		        				<a class="nav-link" th:href="@{/accounts/headOfAccount/delete/{orderId}(orderId=${ob.id})}" onclick="return confirm('Are you sure?')" title="Delete Record">
						          	<img th:src="@{/images/bootstrap-icons/trash-fill.svg}"/>
						        </a>
        					</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>