<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments :: html_head}"></head>

<body>

	<div class="container text-center" th:replace="~{fragments :: header}"></div>

	<div class="container-fluid">

		<h4 class="h4 p-2">Session Detail (Register Student)</h4>

		<div class="alert alert-warning p-2" role="alert" th:text="${message}"
			th:if="${message != null }"></div>

		<div class="row p-2">
			<div class="col-12">
				<div class="d-grid gap-2 d-md-block">
					<a class="btn btn-primary btn-sm" role="button"
						th:href="@{/admin/sessionDetail/list/current}"><i
						class="bi bi-chevron-double-left"></i> To List</a> <a
						class="btn btn-primary btn-sm" role="button"
						th:href="@{/admin/sessionDetail/view/{orderId}(orderId=${sessionDetailStudent.sessionDetail.id})}"><i
						class="bi bi-arrow-counterclockwise"></i> to Session Detail View</a>
				</div>
			</div>
		</div>

		<form class="p-2" th:action="${servletRequest.requestURI}"
			th:object="${sessionDetailStudent}" method="POST">

			<input type="hidden" th:field="*{sessionDetail}" />

			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{sessionDetail.session}"></label>
				<div class="col-sm-4">
					<span class="form-control border-light"
						th:text="${sessionDetailStudent.sessionDetail.session.label}"></span>
				</div>
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{sessionDetail.schoolClass}"></label>
				<div class="col-sm-4">
					<span class="form-control border-light"
						th:utext="${sessionDetailStudent.sessionDetail.schoolClass.label}"></span>
				</div>
			</div>

			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{academicSession.startDate}"></label>
				<div class="col-sm-4">
					<span class="form-control border-light"
						th:text="${#dates.format(sessionDetailStudent.sessionDetail.session.startDate, 'dd-MM-yyyy')}"></span>
				</div>
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{academicSession.endDate}"></label>
				<div class="col-sm-4">
					<span class="form-control border-light"
						th:utext="${#dates.format(sessionDetailStudent.sessionDetail.session.endDate, 'dd-MM-yyyy')}"></span>
				</div>
			</div>

			<div class="row p-2">
				<label class="col-sm-2 col-form-label text-primary"
					th:text="#{student}"></label>
				<div class="col-sm-10">
					<select class="form-select  bg-warning-subtle" th:field="*{student}">
						<option th:each="p : ${listStudent}" th:value="${p.id}"
							th:text="${p.studentId + ' : ' + p.label}" />
					</select>
					<ul>
						<li class="text-danger" th:errors="*{student}" />
					</ul>
				</div>
			</div>
			<div class="row p-2">
				<div class="offset-sm-2 col-sm-2">
					<button type="submit" class="btn btn-sm btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>

	<div class="container" th:replace="~{fragments :: footer}"></div>

</body>

</html>