<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: html_head}">
</head>
<body>
	<div class="container text-center" th:replace="~{fragments :: header}">
		
	</div>
	
	<div class="container">
		<div class="row px-4 py-2">
			
			<div class="col-12">
			
				<h4 class="h4 pb-3">Academic Calendar (Add New)</h4>
				
				<div class="alert alert-warning" role="alert" th:text="${message}" th:if="${message != null }"></div>
				
				<div class="row pb-3">
					<div class="col-12">
						<div class="d-grid gap-2 d-md-block">
							<a class="btn btn-primary btn-sm" role="button" th:href="@{/admin/academicCalendar/list/current}">&lt;&lt; Back To List</a>
						</div>
					</div>
				</div>
				
				<form th:action= "${servletRequest.requestURI}" th:object="${academicCalendar}" method="POST">

					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{sessionDetail.session}"></label>
						<div class="col-sm-4">
							<select class="form-select required" th:field="*{session}">
					            <option th:each="p : ${listAcademicSession}" th:value="${p.id}" th:text="${p.label}" />
					        </select>
					        <ul><li class="cooperror" th:errors="*{session}" /></ul>
						</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{academicCalendar.event}"></label>
						<div class="col-sm-4">
							<input type="text" class="form-control required" th:field="*{event}" th:placeholder="#{academicCalendar.event}" autofocus >
							<ul><li class="cooperror" th:errors="*{event}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-2 col-form-label text-primary" th:text="#{academicCalendar.eventDate}"></label>
						<div class="col-sm-4">
							<input type="date" class="form-control required" th:field="*{eventDate}" th:placeholder="#{academicCalendar.eventDate}" >
							<ul><li class="cooperror" th:errors="*{eventDate}" /></ul>
						</div>
						<label class="col-sm-2 col-form-label text-primary" th:text="#{academicCalendar.color}"></label>
						<div class="col-sm-4">
							<input type="color" class="form-control required" th:field="*{color}" th:placeholder="#{academicCalendar.color}" >
							<ul><li class="cooperror" th:errors="*{color}" /></ul>
						</div>
					</div>
					<div class="row mb-3">
						<div class="offset-sm-2">
							<button type="submit" class="btn btn-sm btn-primary">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container" th:replace="~{fragments :: footer}">
	</div>
</body>
</html>